@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
    background-color: #9253dab0;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-image: url(../Assets/images/History.png);
    background-size: cover; /* Make sure the image covers the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}
.parent {
   border: 1px solid #ccc;
   width: 80vw;
   height: 85vh;
   margin: 40px auto; 
   box-shadow: 2px 5px 10px #1111111f;
   padding-inline: 40px;
   border-radius: 10px;
   background-color:rgba(255, 255, 255, 0.58) ;
   overflow: hidden;
 }

 .van{
   height: 40px;
   border-radius: 0px 0px 20px 20px;
   background-color: transparent;

 }
 .child-container {
  width: 130px;
  height: 30vw; /* Fill the available height */
  overflow-y: scroll; /* Enable vertical scrolling */
  background-color: #fdf4f41f;  
  border-radius: 10px;
  margin-top: 30px; 
}


.small-container {
   padding-inline: 5px 5px;
   margin-right: 10px;
   border: 1px solid #ddd;
   margin-bottom: 10px;
   background-color:transparent;  
   border-radius: 10px;
   width: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   height: 80px;
   margin-left: 30% auto;  
   box-shadow: 1px 4px 9px #1111111f;
   border: 1px solid gray;
   cursor: pointer; 
   border: 1px solid #ddd;
   transition: background 0.3s, border-color 0.6s, font-family 1s;
 }

 .small-container:hover, .small-container:focus {
 box-shadow: 0 10px 15px rgba(50, 50, 93, 0.12);
 background-color: rgba(152, 160, 152, 0.769);
 height: 85px;
 width: 105px;
 font-weight: bolder; }


.cattype1, .cathead, .catdir{
 text-align: center;
}
.grand{
  display: flex;
  overflow: hidden;
  /* background-color: #371cd4; */
  height: auto;
}
#Sports, #Culture, #Music, #Science, #History, #Computer{
  color: #874CCC;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  width: 100%;
  display: none;
}
.img{
  margin-left: 70px;
  width: 50vw;
  height: fit-content;
  display: flex;
}
.img img{
  width: 30%;
}
h5{
  color: black;
}
.pla{
  margin-left: 20px;
  border-left: solid 1.5px black;
  padding-left: 5px;
}
.btn{
  padding: 5px;
  border-radius: 5px;
  background: #080404;
  color: aliceblue;
  cursor: pointer;
  border: 2px solid transparent;
  transition: background 0.3s, border-color 0.7s;
}
.btn:hover{
  background-color: #fa517c;
  color: #333;
}
#add-player-btn{
  border: 3px solid black;
  border-radius: 5px;
  margin-top: 10px;
  transition: background 0.5s;
}
#add-player-btn:hover{
  background-color: #fa517c;
  color: #333;
  border: none;
  /* border: transparent; */
}