@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
    /* background: linear-gradient(to bottom right, #ff0000, #ffffff); */
    background-color: #874CCC;
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(255, 255, 255);  
    border-radius: 10px;
    width: 80%;
    height: 85vh;
    margin: 40px auto; 
    box-shadow: 2px 5px 10px #1111111f;
    /* display: flex; */
    /* justify-content: center; */
    padding-inline: 40px;
}

.van{
    height: 40px;
    border-radius: 0px 0px 20px 20px;
    background-color: transparent;
   
 }

 .cat{
    background-color:transparent;  
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 30px auto; 
     box-shadow: 1px 4px 9px #1111111f;
    /* display: flex; */
    /* justify-content: center; */
    /* padding-inline: 30px; */ 
    border: 1px solid gray;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: absolute;
    left: 20%;
   
 }
 .cat:hover, .cat:focus {
    box-shadow: 0 10px 15px rgba(50, 50, 93, 0.12), 0 4px 6px rgba(0, 0, 0, 0.07);
  }
 img{
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
  
 }
 .cattype1{
    text-align: center;
 }
 .cat1{
    background-color:transparent;  
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 30px auto; 
     box-shadow: 1px 4px 9px #1111111f;
    /* display: flex; */
    /* justify-content: center; */
    /* padding-inline: 30px; */ 
    border: 1px solid gray;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: absolute;
    left: 42.5%;

 }
 .cat1:hover, .cat1:focus {
    box-shadow: 0 10px 15px rgba(50, 50, 93, 0.12), 0 4px 6px rgba(0, 0, 0, 0.07);
 }
 .cat2{
    background-color:transparent;  
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 30px auto; 
     box-shadow: 1px 4px 9px #1111111f;
    /* display: flex; */
    /* justify-content: center; */
    /* padding-inline: 30px; */ 
    border: 1px solid gray;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: absolute;
    left: 65%;
 }
 .cat2:hover, .cat2:focus {
    box-shadow: 0 10px 15px rgba(50, 50, 93, 0.12), 0 4px 6px rgba(0, 0, 0, 0.07);

 }
.cat3{
    background-color:transparent;  
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 30px auto; 
     box-shadow: 1px 4px 9px #1111111f;
    /* display: flex; */
    /* justify-content: center; */
    /* padding-inline: 30px; */ 
    border: 1px solid gray;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 70%;;
    left: 30%;
}


 
 .cathead{
    text-align: center;
 }