@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
    /* background: linear-gradient(to bottom right, #ff0000, #ffffff); */
    background-color: #874CCC;
    margin: 0;
    padding: 0;
}
.parent {
   /*width: 100%;  Set your desired width */
   /*height: 400px; /* Set your desired height */
   border: 1px solid #ccc;
   width: 80%;
   height: 85vh;
   margin: 40px auto; 
   box-shadow: 2px 5px 10px #1111111f;
   /* display: flex; */
   /* justify-content: center; */
   padding-inline: 40px;
   border-radius: 10px;
   background-color:white ;

 }

 .van{
   height: 40px;
   border-radius: 0px 0px 20px 20px;
   background-color: transparent;

 }

 .child-container {
   width: 100%;
   height: 65%; /* Fill the available height */
   overflow-y: auto; /* Enable vertical scrolling */
    background-color: #fdf4f41f;  
   /* box-shadow: 2px 5px 10px #1111111f; */
   margin: 40px auto; 
   border-radius: 10px;
   margin-top: 30px; 
}

 .small-container {
   padding-left: 5px;
   border: 1px solid #ddd;
   margin-bottom: 10px;
   background-color:transparent;  
   border-radius: 10px;
   width: 100px;
   height: 80px;
   margin-left: 30% auto;  
   box-shadow: 1px 4px 9px #1111111f;
   /* display: flex; */
   /* justify-content: center; */
   /* padding-inline: 30px; */ 
   border: 1px solid gray;
   cursor: pointer; 
   transition: all 0.2s ease-in-out; 
   border: 1px solid #ddd;
 }

 .small-container:hover, .small-container:focus {
 box-shadow: 0 10px 15px rgba(50, 50, 93, 0.12), 0 4px 6px rgba(0, 0, 0, 0.07);
 }

 img{
 max-width: 50px;
 max-height: 50px;
 display: block;
 margin: 0 auto;

}

.cattype1{
 text-align: center;
}

.cathead{
 text-align: center;
}

.catdir{
text-align: center;
}

a{
   text-decoration: none;
}