@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body{
    /* background: linear-gradient(to bottom right, #ff0000, #ffffff); */
    /* background-color: #874CCC; */
    margin: 0;
    padding: 0;
    background-image: url(../Assets/images/Groupe\ 124@2x.png);
    background-size: contain ;
    background-repeat: no-repeat;
}
.container{
    background-color: rgb(196, 211, 216);  
    border-radius: 10px;
    width: 80%;
    height: 85vh;
    margin: 40px auto; 
    box-shadow: 2px 5px 10px #1111111f;
    /* display: flex; */
    /* justify-content: center; */
    padding-inline: 40px;
}
.quiz{
    padding-top: 10px;
}
p{
    margin: 0px;
}
.quiz1{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 28%;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 10px;
    justify-content: space-between;
}
#Play{
    margin-inline: auto;
    width: 9em;
    border-radius: 5px;
    border: none;
    /* text-align: center; */
}
.category{
    height: 30vh;
    background-color: aquamarine;
}
.van{
    height: 40px;
    border-radius: 0px 0px 20px 20px;
    background-color: transparent;
 }
 .disp{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
 }
 .right{
    width: 70%;
    display: flex;
    flex-direction: column;
    
    
 }
 .score{
    background-color: white;
    height: 15vh;
    width: 100%;
    border-radius: 5px;
    padding-inline: 8px;
 }
 .categories{
    background-color: white;
    height: 30vh;
    width: 100%;
    border-radius: 5px;
    margin-block: auto;
    padding-inline: 8px;
 }
