*{
    margin: 0;
}

body{
   background-color: #2179D8 ;
   
}
#next{
    display:none;
    height: 20px;
    width: 5%;
} 
.btn{
    /* position: absolute; */ 
    margin: 10px; 
    top: 0%;
    width: 50%;
    align-content: center;
    text-align: center;
   margin: 3% auto;
  
    
}
#answers{
    display: flex;
    flex-direction: column;
    /* width: em; */
    height: 40vh;
    top: 60%;
}
.isj{
    text-align: center;
    background-color: whitesmoke;
    border-radius: 20px;
}
#question{
    margin: 10px;
     padding: 5%;
}
.container1{
    background-color: rgb(255, 255, 255);  
    border-radius: 20px;
    width: 50%;
    height: 80vh;
    margin: 10% auto;  
   text-align: center;
   box-shadow: 2px 5px 10px #1111111f;
  
}