*{
    margin: 0;
}

body{
   background-color: #2179D8 ;
   
}
#next{
    display:none;
    height: 20px;
    width: 5%;
} 
.btn{
    margin: 10px; 
    top: 0%;
    width: 50%;
    align-content: center;
    text-align: center;
    margin: 3% auto;   
}
.container{
    background-color: rgb(196, 211, 216);  
    border-radius: 20px;
    width: 80%;
    height: auto;
    margin: 6% auto;  
   text-align: center;
   box-shadow: 2px 5px 10px #1111111f;
   
}
#answers{
    display: flex;
    flex-direction: column;
    height: auto;
    top: 60%;
}
.isj{
    text-align: center;
}
#question{
    margin: 10px;
}