body{
    /* background-color: #2179D8; */
    background-image: url(../Assets/images/Path\ 409.svg);
    /* background-size: cover; */
    background-repeat: no-repeat;
}
.container{
    background-color: rgb(45, 145, 175);  
    border-radius: 20px;
    width: 500px;
    height: 400px;
    margin: 10% auto;  
   text-align: center;
}