body{
    /* background-color: #2179D8; */
    background-image: url(../Assets/images/Path\ 409.svg);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background: linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}
.container{
    background-color: rgb(196, 211, 216);  
    border-radius: 20px;
    width: 80%;
    height: 80vh;
    margin: 6% auto;  
   text-align: center;
   box-shadow: 2px 5px 10px #1111111f;
   display: flex;
}
img{
    height: 80vh;
    width: auto;
    justify-self: unset;
    border-radius: 20px;
}